doctype html
html
  head
    title= title
    meta(name="renderer",content="webkit")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/img/book.ico')
    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.bootcss.com/pace/1.0.2/themes/blue/pace-theme-minimal.css')
    link(rel='stylesheet', href='https://cdn.bootcss.com/slick-carousel/1.9.0/slick.min.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src='https://cdn.bootcss.com/slick-carousel/1.9.0/slick.min.js')
    script(src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js" data-pace-options='{ "ajax": false }')
  body
      include ./t/navbar
      main.container
        include ./t/header
        include ./t/msg
        block content
      include ./t/footer
      if(hasCart)
        include ./t/cart

