//
   

footer.footer.container.text-center.text-info
    p 
        a(href="https://xiyoumobile.com/") 西邮移动应用开发实验室
        span  ○ 
        By QiaoDing
        span  ○ 
        a(href="https://github.com/QiaoDing18/BookNest") GitHub
        